# Port number
PORT=3000

# URL of the Mongo DB
//TODO - update this
MONGODB_URL=

# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=60
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USERNAME=""
SMTP_PASSWORD=""
EMAIL_FROM=""
NODE_ENV=development
BASE_URL=http://localhost:3000
FRONT_END_BASE_URL=http://localhost:3000
FRONT_END_BASE_URL_ADMIN=http://localhost:5173


AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
AWS_S3_BASE_URL=""

TEJA_FINANCE_BASE_URL=
BANK_ACCESS_KEY=
BANK_MERCHANT_KEY=
BANK_CLIENT_ID=
BANK_API_PASSWORD=

SME_BANK_TEST_CLIENT_ID=
SME_BANK_TEST_CLIENT_SECRET=
SME_BANK_TEST_BASE_URL=
SME_BANK_LIVE_BASE_URL=
SME_BANK_LIVE_CLIENT_ID=
SME_BANK_LIVE_CLIENT_SECRET=

IS_SERVERLESS=false
