org: drizzlebites
app: drizzlebites
service: drizzlebites-service
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: development
  # Add S3 permissions to IAM role
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
      Resource:
        - arn:aws:s3:::${param:AWS_S3_BUCKET_NAME}/*

functions:
  handler:
    handler: src/index.handler
    timeout: 30
    memorySize: 512
    url:
      cors: true
    events:
      - httpApi: '*'
    environment:
      MONGODB_URL: ${param:MONGODB_URL}
      PORT: ${param:PORT}
      JWT_SECRET: ${param:JWT_SECRET}
      JWT_ACCESS_EXPIRATION_MINUTES: ${param:JWT_ACCESS_EXPIRATION_MINUTES}
      JWT_REFRESH_EXPIRATION_DAYS: ${param:JWT_REFRESH_EXPIRATION_DAYS}
      JWT_RESET_PASSWORD_EXPIRATION_MINUTES: ${param:JWT_RESET_PASSWORD_EXPIRATION_MINUTES}
      JWT_VERIFY_EMAIL_EXPIRATION_MINUTES: ${param:JWT_VERIFY_EMAIL_EXPIRATION_MINUTES}
      NODE_ENV: ${param:NODE_ENV}
      SMTP_HOST: ${param:SMTP_HOST}
      SMTP_PORT: ${param:SMTP_PORT}
      IS_SERVERLESS: ${param:IS_SERVERLESS}
      SMTP_USERNAME: ${param:SMTP_USERNAME}
      SMTP_PASSWORD: ${param:SMTP_PASSWORD}
      EMAIL_FROM: ${param:EMAIL_FROM}
      SELLER_RECIPIENTS: ${param:SELLER_RECIPIENTS}
      BASE_URL: ${param:BASE_URL}
      FRONT_END_BASE_URL: ${param:FRONT_END_BASE_URL}
      AWS_S3_BUCKET_NAME: ${param:AWS_S3_BUCKET_NAME}
      AWS_S3_BASE_URL: ${param:AWS_S3_BASE_URL}

plugins:
  - serverless-offline
